// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #167FFB;
$yellow: #E8BC01;
$orange: #E67E22;
$green-haze: rgb(1, 152, 117);
$green-emerald: rgb(63, 195, 128);
$blue-green: rgb(89, 195, 195);
$gray: #0E0000;
$light-gray: #F4F4F4;
$green: #1EDD88;
