// Define variables for your color scheme

// For example:
$yellow: ##E8BC01;
$orange: #E67E22;
$green-haze: rgb(1, 152, 117);
$green-emerald: rgba(63, 195, 128);
$blue-green: rgb(89, 195, 195);
$gray: #0E0000;
$light-gray: #F4F4F4;
