<div class="form">
  <%= simple_form_for [ event, booking ] do |f| %>
    <%= f.input :number_people, :required => false, input_html: { min: '1', max: '2', step: '1', value: f.object.number_people || '1', class: "number-people-input" }, label: ('<i class="fas fa-user-friends color-yellow"></i>').html_safe %>
    <% if booking.id == nil %>
      <%= f.submit "Book", class: "btn yellow-btn btn-book w-100 btn-book-margin" %>
    <% else  %>
      <%= f.submit "Update", class: "btn yellow-btn btn-book w-100" %>
    <% end %>
  <% end %>
</div>
