<div class="form">
  <%= simple_form_for [ event, booking ] do |f| %>
    <%= f.input :number_people, :label => "Number of people", :required => false, id: "number-people" %>
    <% if event.id == nil %>
      <%= f.submit "Book", class: "btn yellow-btn btn-book w-100" %>
    <% else  %>
      <%= f.submit "Update", class: "btn yellow-btn btn-book w-100" %>
    <% end %>
  <% end %>
</div>
