<!-- Here goes the navbar-->
<div class="banner-bookings">
  <div class="banner-text-bookings">
    <h1 class="banner-headers">My Bookings</h1>
  </div>
</div>

<div class="container">
  <h1 class="header-show">Upcoming bookings</h1>
  <div class="event-card">
    <div class="col-3">
      <%= image_tag "louis-hansel.jpg", id: "louis-hansel-img", alt: "chef", width: 200%>
    </div>
    <div class="right col-9">
      <!-- Need to change this to dynamic -->
      <%#= @bookings.event.chef.name %>
      <h2>Chef Joachim Alvarez</h2>
      <div class="line"> <hr>
      </div>
      <p>Host: Gabriela Sanchez</p>
      <div class="d-flex justify-content-between">
        <div>
          <div class="emojis">
            <div class="d-flex align-items-center emoji-padding">
              <i class="far fa-calendar-check color-yellow"></i>
              <!-- This needs to be dinamic -->
              <p class="ml-2 mb-0">September 25, 2020</p>
            </div>
            <div class="d-flex align-items-center emoji-padding">
              <i class="fas fa-map-marker-alt color-yellow"></i>
              <p class="ml-2 mb-0">Nollendorfstraße 27, 10777 Berlin</p>
            </div>
            <div class="d-flex align-items-center emoji-padding">
              <i class="far fa-user color-yellow"></i>
              <p class="ml-2 mb-0">Number of guests: 1</p>
            </div>
            <div class="d-flex align-items-center emoji-padding">
              <i class="fas fa-euro-sign color-yellow"></i>
              <p class="ml-2 mb-0">Price per guest: 50€</p>
            </div>
          </div>
        </div>
        <!-- here goes the btn for upcoming bookings-->
        <%= link_to "Edit your booking", "#", class: "btn yellow-btn low-btn"%>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <h1 class="header-show">Past bookings</h1>
  <div class="event-card">
    <%= image_tag "fish.jpg", id: "fish-img", alt: "chef", width: 200%>
    <div>
      <div class="right">
        <h2>Chef Pierre Monplanet</h2>
        <p>Host: Luisa Kern</p>
        <div>
          <div class="d-flex justify-content-between">
            <div class="emojis">
              <div class="d-flex align-items-center emoji-padding">
                <i class="far fa-calendar-check color-yellow"></i>
                <p class="ml-2 mb-0">August 22, 2020</p>
              </div>
              <div class="d-flex align-items-center emoji-padding">
                <i class="fas fa-map-marker-alt color-yellow"></i>
                <p class="ml-2 mb-0">Rykestraße 13, 10405 Berlin</p>
              </div>
              <div class="d-flex align-items-center emoji-padding">
                <i class="far fa-user color-yellow"></i>
                <p class="ml-2 mb-0">Number of guests: 2</p>
              </div>
              <div class="d-flex align-items-center emoji-padding">
                <i class="fas fa-euro-sign color-yellow"></i>
                <p class="ml-2 mb-0">Price per guest: 40€</p>
              </div>
            </div>
            <!-- here goes the btn for upcoming bookings-->
            <%= link_to "Add a review", "#", class: "btn yellow-btn low-btn", id: "btn-position-b" %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>