<!-- Here goes the navbar-->
<div class="banner">
  <div class="container banner-text">
    <h1 class="header-show">Upcoming bookings </h1>
    <i class="fas fa-calendar-alt color-yellow"></i>
  </div>
</div>

<div class="container">
  <div class="event-card">
    <div class="col-3">
      <%= image_tag "louis-hansel.jpg", id: "louis-hansel-img", alt: "chef", width: 200%>
    </div>
    <div class="right col-9">
      <h2>Chef Joaquim Alvarez</h2>
      <h3>Host: Gabriela Sanchez</h3>
      <div class="d-flex justify-content-between">
        <div>
          <div class="emojis">
            <div class="d-flex align-items-center">
              <i class="far fa-calendar-check color-yellow"></i>
              <p class="ml-2 mb-0"> September 19, 2020</p>
            </div>
            <div class="d-flex align-items-center">
              <i class="fas fa-map-marker-alt color-yellow"></i>
              <p class="ml-2 mb-0"> Street name</p>
            </div>
            <div class="d-flex align-items-center">
              <i class="far fa-user color-yellow"></i>
              <p class="ml-2 mb-0"> Number of guests: 2</p>
            </div>
            <div class="d-flex align-items-center">
              <i class="fas fa-euro-sign color-yellow"></i>
              <p class="ml-2 mb-0"> Price per guest: 50€</p>
            </div>
          </div>
        </div>
        <!-- here goes the btn for upcoming bookings-->
        <%= link_to "see details", "#", class: "btn yellow-btn low-btn", id: "btn-position" %>
        </div>
      </div>
    </div>
  </div>
<div>

  <div class="container">
  <h1 class="header-show"> Past bookings </h1>
  <div class="event-card">
    <%= image_tag "fish.jpg", id: "fish-img", alt: "chef", width: 200%>
      <div>
        <div class="right">
        <h2>Chef xxx</h2>
        <h3>Host: xxx</h3>
          <div>
            <div>
              <div class="emojis">
                <div class="d-flex align-items-center">
                  <i class="far fa-calendar-check color-yellow"></i>
                  <p class="ml-2 mb-0"> August 22, 2020</p>
                </div>
                <div class="d-flex align-items-center">
                  <i class="fas fa-map-marker-alt color-yellow"></i>
                  <p class="ml-2 mb-0"> Street name</p>
                </div>
                <div class="d-flex align-items-center">
                  <i class="far fa-user color-yellow"></i>
                  <p class="ml-2 mb-0"> Number of guests: 4</p>
                </div>
                <div class="d-flex align-items-center">
                  <i class="fas fa-euro-sign color-yellow"></i>
                  <p class="ml-2 mb-0"> Price per guest: 40€</p>
                </div>
              </div>
            <!-- here goes the btn for upcoming bookings-->
            </div>

          </div>
        </div>
      </div>
  </div>
</div>
</div>
