<!-- Here goes the navbar-->
<div class="banner">
  <div class="container banner-text">
    <h1 class="header-show">Upcoming bookings </h1>
    <i class="fas fa-calendar-alt color-yellow"></i>
  </div>
</div>

<div class="container">
  <div class="event-card">
    <%= image_tag "louis-hansel.jpg", id: "louis-hansel-img", alt: "chef", width: 200%>
    <div>
      <h2>Chef Joaquim Alvarez</h2>
      <h3>Host: Gabriela Sanchez</h3>
        <div>
          <div>

          </div>
          <!-- here goes the btn for upcoming bookings-->
        </div>

    </div>

      <div class="text-card-right">
      </div>
  </div>
</div>
