<footer id="footer fixed-bottom">
  <div class="container padding">
    <div class="row footer-absolute">
      <div>
        <ul class="row">
          <li class="col-3 footer-spacing">About</li>
          <li class="col-3 footer-spacing">Contact us</li>
          <li class="col-3 footer-spacing">Career</li>
        </ul>
      </div>
      <div class="social-media">
        <ul class="row">
          <li class="col-3"><i class="fab fa-facebook fa-lg"></i></li>
          <li class="col-3"><i class="fab fa-instagram fa-lg"></i></li>
          <li class="col-3"><i class="fab fa-twitter fa-lg"></i></li>
        </ul>
      </div>
    </div>
</footer>
