<!-- Navbar -->
<!-- Banner -->
 <div class="banner">
    <h1 class="banner-text">Dining Room</h1>

    <p>Intimate dinners hosted by locals, cooked by professional chefs, with a special menu</p>
  </div>
<div class="container">

  <!-- Upcoming Events -->
  <h2>Upcoming events</h2>

  <div class="main-card">
    <div>
      <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
          <% @events.each_with_index do |event, index| %>
            <div class="carousel-item <%= "active" if index == 0 %>">
              <div class="left-card">
              <!-- Image chef -->
              </div>

              <div class="right-card">
                <!-- Chef's name as title -->
                <p>Joaquim is a chef from Barcelona, who has been living in Berlin for the past 7 years. He is currently working at Chucha.</p>
                <br>
                <p>Joaquim’s proposed menu will take you on a journey to sunny Spanish countryside.</p>
                <i class="fas fa-calendar-alt color-yellow"></i>
                <p><%= event.date %></p>
                <%= link_to "Find out more", event_path(event), class: "btn find-more"%>
              </div>
            </div>
          <% end %>
        </div>
        <!-- Links to scroll on the carousel -->
        <a class="carousel-control-prev color-black" href="#carouselExampleControls" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next color-black" href="#carouselExampleControls" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>

    </div>
  </div>

  <!-- About Dining Room -->
  <h2>About Dining Room</h2>

  <div class="main-card">
    <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
      <div class="carousel-inner">
        <div class="carousel-item active">
          <div class="left-card">
              <!-- Image -->
          </div>
          <div class="right-card">
            <h2>Local hosts</h2>
            <p>Open the doors of their dining room to you</p>
          </div>
        </div>
        <div class="carousel-item">
          <div class="left-card">
            <!-- Image -->
          </div>
          <div class="right-card">
            <h2>Professional chefs</h2>
            <p>Every event is catered by a professional chef, who creates a special menu with a personal story behind it</p>
          </div>
        </div>
        <div class="carousel-item">
          <div class="left-card">
            <!-- Image chef -->
          </div>
          <div class="right-card">
            <h2>Meet like-minded people</h2>
            <p>Meet new people</p>
          </div>
        </div>
      </div>
      <a class="carousel-control-prev color-black" href="#carouselExampleControls" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="carousel-control-next color-black" href="#carouselExampleControls" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>
  </div>
</div>
<!-- Footer -->
