<!-- Navbar -->
<!-- Banner -->
 <div class="banner">
    <h1 class="banner-text">Dining Room</h1>

    <p>Intimate dinners hosted by locals, cooked by professional chefs, with a special menu</p>
  </div>
<div class="container">

  <!-- Upcoming Events -->
  <h2>Upcoming events</h2>

  <div class="main-card">
    <!-- Image chef -->
    <!-- Chef's name as title -->
    <div class="left-card">
      <p>Joaquim is a chef from Barcelona, who has been living in Berlin for the past 7 years. He is currently working at Chucha.</p>
      <br>
      <p>Joaquim’s proposed menu will take you on a journey to sunny Spanish countryside.</p>
      <!-- Date of event -->
      <% @events.each do |event| %>
        <i class="fas fa-calendar-alt color-yellow"></i>
        <p><%= event.date %></p>
        <%= link_to "Find out more", event_path(event), class: "btn find-more"%>
      <% end %>
    </div>
  </div>

  <!-- About Dining Room -->
  <h2>About Dining Room</h2>

  <div class="main-card">
    <!-- Carossel of three images -->
  </div>
</div>

<!-- Footer -->
