<!-- Here goes the navbar-->
<div class="show-banner">
  <div class="container banner-text">
    <h1 class="header-show">Chef Joaquim Alvarez </h1>
    <i class="fas fa-calendar-alt color-yellow"></i>
      <%= link_to "Reserve this event", event_path(event), class: "btn find-more" %>

      <h2>About Joaquim Alvarez</h2>
        <div class="first-card">
          <!-- Image chef -->
          <p> Joaquim was born in 1985 in Barcelona and as a young boy he used to help his grandparents at the family farm during his summer holidays. That was when he fell in love with food, while helping grow the produce and then learn how to best used them to create the most delicious and simple recipes. His childohood has defined his style as a chef. He has traveled the world, and learned with the locals, how to make the best traditional and in-season dishes.<p>

        </div>
  </div>
</div>

