// INDEX BANNER - events
.banner-index {
  background-image: url("https://images.unsplash.com/photo-1454944338482-a69bb95894af?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2852&q=80");
  background-size: cover;
  height: 583px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
  margin-bottom: 50px;

  p {
    font-weight: 500;
    font-size: 25px;
    color: rgb(68, 68, 66);
  }
}

.banner-text {
  text-align: left;
  position: relative;
  left: -47px;
  color: rgba(0, 0, 0, 0.8);
  font-weight: 600;
}

.banner-headers {
  font-weight: 600;
  font-size: 80px;
  word-spacing: 10px;
}

.banner-headers-white {
  font-weight: 600;
  font-size: 80px;
  word-spacing: 10px;
  color: white;
}

// SHOW BANNER - events
.banner-event {
  // background-image: url("main_banner.jpg");
  background-size: cover;
  height: 583px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
  margin-bottom: 50px;
}

.banner-text-event {
  text-align: left;
  position: relative;
  left: -140px;
}

.event-btn {
  position: relative;
  bottom: -55px;
  left: 866px;
}

// BOOKINGS BANNER
.banner-bookings {
  background-image: url("https://images.unsplash.com/photo-1454944338482-a69bb95894af?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2852&q=80");
  background-size: cover;
  height: 391px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
  margin-bottom: 50px;
}

.banner-text-bookings {
  text-align: left;
  position: relative;
  left: -294px;
}
