.emojis {
  padding-top: 20px;
  text-align: justify;
  float:left;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.right {
  padding-left: 50px;
  padding-top: 15px;
  text-align: justify;
}

.emoji-padding {
  padding-bottom: 9px;
}

.host-style {
  padding-top: 20px;
  font-weight: 600;
}
