// Index btn
.yellow-btn {
  width: 217px;
  height: 57px;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.12);
  background-color: $yellow;
}

.yellow-btn:hover {
  background-color: black;
  color: $yellow;
}

.btn {
  line-height: 2.5;
}

// ----------------------------------------------

.low-btn {
  align-self: flex-end;
}

