// MAIN BTN

.yellow-btn {
  width: 217px;
  height: 57px;
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.12);
  background-color: $yellow;

  &:hover {
    background-color: black;
    color: $yellow;
  }
}

.black-btn {
  width: 217px;
  height: 57px;
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.12);
  background-color: $black;
  color: white;


  &:hover {
    background-color: $yellow;
    color: black;
  }
}

// ----------------------------------------------
// Override the bootstrap height
.btn {
  line-height: 2.5;
}

// ----------------------------------------------
// BANNER BTN

.banner-btn {
  position: relative;
  bottom: -55px;
  left: 910px;
}

// ----------------------------------------------
.low-btn {
  align-self: flex-end;
}

// ----------------------------------------------
// BOOKINGS BTN

#btn-position-b {
  position: relative;
  bottom: -4px;
  left: -2px;
}

// BOOKING - Form

.btn-book-margin {
  margin: 21px 0px 24px 0px;
}

// -----------------------------------------------
// INDEX - Bookings

#edit-btn-future {
  position: relative;
  top: -58px;
  right: -474px;
}

#edit-btn-past {
  position: relative;
  top: 96px;
  right: -233px;
}

