// Index btn
.yellow-btn {
  width: 217px;
  height: 57px;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.12);
  background-color: $yellow;

  &:hover {
    background-color: black;
  color: $yellow;
  }
}

.black-btn {
  width: 217px;
  height: 57px;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.12);
  background-color: $black;
  color: white;


  &:hover {
    background-color: $yellow;
    color: black;
  }
}

.btn {
  line-height: 2.5;
}





// ----------------------------------------------
