.main-card {
  width: 100%;
  padding: 50px;
  margin: 50px 0 50px 0;
  box-shadow: 2px 2px 10px 1px rgba(0, 0, 0, 0.2);
  position: relative;
}

// .left-card will go here

// The right-card represents the information placed on the right of the main-card
.right-card {
  position: relative;
  left: 400px;
  // To fit the <p> inside the right-card
  p {
    width: 400px;
  }
}

// Link arrows:
// Give a colour black to the arrows inside the carousel
.color-black {
  filter: invert(1);
}

// Move the link arrows to the edges of the card:
.carousel-control-prev {
    left: -78px;
}

.carousel-control-next {
    right: -78px;
}
