// INDEX - UPCOMING EVENTS
// Give a colour black to the arrows inside the carousel
.color-black {
  filter: invert(1);
}
// Move the link arrows to the edges of the card:
.carousel-control-prev {
    left: -78px;
}

.carousel-control-next {
    right: -78px;
}

//-----------------------------
.event-image {
  height: 396px;
  width: 100%;
  object-fit: cover;
  object-position: 50% 50%;
  border-radius: 1px;
  padding-left: 50px;
}

.col-6 {
    flex: 0 0 50%;
    width: 100%;
}

.right-card {
  padding-right: 85px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  p{
    text-align: justify;
  }
}

//------------------------------
.date-container {
  display: flex;
}

.p-position {
  position: relative;
  right: -31px;
  bottom: 23px;
}

// --------------------------------------------------
// INDEX - ABOUT DINING ROOM

// Move the link arrows to the edges of the card:
.arrow-prev {
  left: -90px;
}

.arrow-next {
  right: -90px;
}

.right-card-about {
  padding-right: 85px;
  text-align: justify;
  display: flex;
  flex-direction: column;
  justify-content: center;
}


.event-image-book {
  object-fit: cover;
  object-position: 50% 50%;
  border-radius: 7px;
  margin-bottom: 10px;
  height: 160px;
  width: 100%;
}

.left-card-about {
  padding-left: 32px;
}

