// INDEX - UPCOMING EVENTS
// Give a colour black to the arrows inside the carousel
.color-black {
  filter: invert(1);
}

// Move the link arrows to the edges of the card:
.carousel-control-prev {
    left: -78px;
}

.carousel-control-next {
    right: -78px;
}

// --------------------------------------------------
// INDEX - ABOUT DINING ROOM

.img-opacity {
  opacity: 0.7;
}

// Move the link arrows to the edges of the card:
.arrow-prev {
    left: -90px;
}

.arrow-next {
    right: -90px;
}

