// EVENTS - Show Page
#event-date {
  display: flex;
  justify-content: flex-end;

  p {
  position: relative;
  right: 10px;
  bottom: 2px;
  }
}

#date-event-show {
  position: relative;
  right: 44px;
  bottom: -2px;
}
