#footer {
  background-color: rgb(244, 244, 244);
  height: 150px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  padding: 25px;
}

.footer-spacing {
  padding-right: 2.5rem;
}

.col-3 {
  max-width: 42%;
}

.social-media {
  position: relative;
  top: 2px;
  right: -597px;
}

.color-grey {
  color: rgb(84, 84, 84);
}

.footer-absolute {
  position: absolute;
}


.padding {
  padding-top: 50px;
}



