// like the one used on calendar icon on index
.color-yellow {
  color: $yellow;
}

li {
  list-style: none;
}

// SHOW event page

#event-date {
  display: flex;
  justify-content: flex-end;
}

#date-event-show {
  position: relative;
  right: 44px;
  bottom: -2px;
}

#p-date-show {
  position: relative;
  right: 10px;
  bottom: 2px;
}
