// EVENT SHOW
#chef-img {
  object-fit: cover;
  width: 230px;
  height: 230px;
  border-radius: 3px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

#people-img {
}

#olive-img{
  object-fit: cover;
  width: 230px;
  height: 230px;
  border-radius: 3px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

#menu-img{
  object-fit: cover;
  width: 230px;
  height: 249px;
  border-radius: 3px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

#louis-hansel-img{
  object-fit: cover;
  width:230px;
  height:257px;
  border-radius: 3px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

#fish-img{
  object-fit: cover;
  width:230px;
  height:257px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.event-image {
  object-fit: cover;
  object-position: 50% 50%;
  overflow: hidden;
  border-style: none;
  border-radius: 3px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);

  &-book {
    border-radius: 3px;
    margin-bottom: 10px;
    height: 160px;
    width: 100%;
  }
}

.index-border {
  border-radius: 3px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

// EVENT SHOW - MENU
.event-image-menu {
  width: 122px;
  height: 170px;
  border-radius: 3px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  position: relative;
  left: 20px;
}

#event-image-menu {
  width: 122px;
  height: 170px;
  border-radius: 3px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  position: relative;
  right: -335px;
}
