// EVENT - Index

// Added a height so the picture is the same size as the other two
#second-slide-img {
  height: 316px;
}

// EVENT - Show
#chef-img {
  object-fit: cover;
  width: 230px;
  height: 230px;
  border-radius: 3px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

#people-img {
}

#olive-img{
  object-fit: cover;
  width: 230px;
  height: 230px;
  border-radius: 3px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

#menu-img{
  object-fit: cover;
  width: 230px;
  height: 249px;
  border-radius: 3px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

#louis-hansel-img{
  object-fit: cover;
  width:230px;
  height:257px;
  border-radius: 3px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

#fish-img{
  object-fit: cover;
  width:230px;
  height:257px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.event-image {
  object-fit: cover;
  object-position: 50% 39%;
  overflow: hidden;
  border-style: none;
  border-radius: 3px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  height: 396px;
  width: 333px;
  margin: 0px 0px 0px 74px;

  &-book {
    object-position: 50% 39%;
    border-radius: 3px;
    margin-bottom: 10px;
    height: 160px;
    width: 100%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  }
}

.index-border {
  border-radius: 3px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

// EVENT SHOW - MENU
#event-image-menu {
  object-fit: cover;
  width: 230px;
  height: 279px;
  border-radius: 3px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.event-image-dish {
  width: 122px;
  height: 170px;
  border-radius: 3px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  position: relative;
  left: 20px;
}

#event-image-dish {
  width: 122px;
  height: 170px;
  border-radius: 3px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  position: relative;
  right: -335px;
}

// ------------------------------------------------------
// INDEX Booking

#chef-img-booking {
  object-fit: cover;
  width:230px;
  height: 279px;
  border-radius: 3px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}
