#chef-img {
}

#people-img {
}

#olive-img{
  object-fit: cover;
  width:230px;
  height:230px;
}
#menu-img{
  object-fit: cover;
  width:230px;
  height:230px;
}

#louis-hansel-img{
  object-fit: cover;
  width:230px;
  height:257px;
}

#fish-img{
  object-fit: cover;
  width:230px;
  height:257px;
}
