.modal-content {
  border-radius: 3px;
  width: 500px;
}

.modal-body {

}

.modal-header {
  border-bottom: 3px solid $yellow;
}

.modal-title {
  font-weight: 400;
  font-size: 20px;
}

.card-booking {

}

.chef-title {
  padding: 5px 0px;
  font-weight: 600;
  font-size: 25px;
  margin-bottom: 0;
  padding: 0px;
  margin-bottom: 6px;


}

.body-booking {
  padding: none;
}

.text-booking {
  margin-top: 10px;

  &-text {
    margin-bottom: 10px;
  }
}
